.singlePage {
  margin-left: 50px;
  margin-top: 75px;
  //might comment above out
  color: white;
}

.imgDr {
  // width: 60%;
  height: 400px;
  max-width: 60%;
  box-shadow: 7px 6px 2px rgba(0, 0, 0, 0.661);
}

.about-container {
  display: flex;
  flex-direction: row;

}

.event-description {
  display: flex;
  margin-left: 20px;
}

.deeets {
  margin-top: 20px;
  max-width: 60%;
  background-color: rgba(44, 44, 44, 0.6);
  box-shadow: 7px 6px 2px rgba(0, 0, 0, 0.661);
}

.info {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left:10px;
  
}