@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
header {
  background-color: rgb(99, 99, 99);
  background: repeating-radial-gradient(circle at 0 0, rgb(46, 46, 46), rgb(147, 147, 147));
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 16%;
  box-shadow: 10px 0 25px 0 rgb(0, 0, 0);
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  background-image: linear-gradient(90deg, rgb(184, 0, 150), rgba(216, 5, 5, 0.863));
  -webkit-background-clip: text;
          background-clip: text;
  background-size: 100%;
  -webkit-text-fill-color: transparent;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.navitem {
  text-decoration: none;
  color: white;
  cursor: pointer;
  position: relative;
  padding: 10px 15px;
  border-bottom-right-radius: 3.75rem;
  border-top-right-radius: 0.4rem;
  line-height: 2.5rem;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.4588235294);
  background-image: linear-gradient(-180deg, #a2003e 0%, #4a0030 100%);
  box-shadow: 0 1rem 1.25rem 0 rgba(0, 0, 0, 0.5), 0 -0.25rem 1.5rem rgb(0, 0, 0) inset, 0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset, 0 0.25rem 0.5rem 0 rgb(104, 104, 104) inset;
}

.navitem::before {
  content: "";
  display: block;
  height: 0.25rem;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 7.5rem);
  background: #a5a5a5;
  border-radius: 100%;
  opacity: 0.7;
  background-image: linear-gradient(-270deg, rgba(255, 255, 255, 0) 0%, #a1a1a1 20%, #a1a1a1 80%, rgba(255, 255, 255, 0) 100%);
}

.navitem::after {
  content: "";
  display: block;
  height: 0.25rem;
  position: absolute;
  bottom: 0.75rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 7.5rem);
  background: #fff;
  border-radius: 100%;
  filter: blur(1px);
  opacity: 0.05;
  background-image: linear-gradient(-270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255, 255, 255, 0) 100%);
}

.btn-primary {
  background: transparent;
  border: none;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.social-icon {
  width: 50px;
  color: white;
  padding-bottom: 20px;
}

.gitgud {
  color: white;
  padding-bottom: 10px;
  padding-left: 15px;
}

.footer {
  display: flex;
  flex-direction: column;
}

.create-account {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  box-sizing: border-box;
  background: rgba(58, 49, 40, 0.65);
  border-radius: 12px;
  max-width: 400px;
  padding: 8px;
  width: 100%;
}

Form.log_in {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  box-sizing: border-box;
  background: rgba(58, 49, 40, 0.65);
  border-radius: 12px;
  max-width: 400px;
  padding: 8px;
  width: 150px;
}

input {
  background-color: #fff;
  margin-bottom: 6px;
  border: none;
  border-radius: 9px;
  display: block;
  width: 100%;
}

.modal.body {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

.modal-header {
  border: none;
  width: 20px;
}

.modal-content {
  background-color: transparent;
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.sign-in {
  color: white;
}

:root.fade.modal-backdrop.show {
  background-color: transparent;
}

.indexs {
  width: 300px;
  background-color: rgba(58, 49, 40, 0.65);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  background-color: transparent;
}

.btn.btn-danger {
  margin-bottom: 10px;
}

.login-form {
  margin-left: 0%;
  width: 25%;
}

button.icon.btn.btn-primary {
  margin: auto 0px;
  padding-right: 20px;
}

Button.btn-close {
  background-color: white;
  width: 100px;
  height: 0px;
}

h2 {
  color: white;
}

.eventList {
  padding: 0;
}

.eventSgl-container {
  color: rgb(255, 255, 255);
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-image: linear-gradient(to top, rgb(83, 83, 83), rgb(78, 78, 78), rgb(73, 73, 73), rgb(83, 83, 83), rgb(93, 93, 93), rgb(103, 103, 103), rgb(113, 113, 113), rgb(123, 123, 123), rgb(133, 133, 133));
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.content-title {
  padding-left: 20px;
}

.eventImage {
  height: 125px;
  width: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.infobox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 10px;
}

.detailsbox {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.detailsbox-inner {
  display: flex;
  flex-direction: row;
}

.datebox {
  align-self: end;
}

.genre-type {
  width: 150px;
  text-decoration: none;
  border-radius: 25%;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.4588235294);
  background-image: linear-gradient(-180deg, #c9014e 0%, #9a0064 100%);
  box-shadow: 0 1rem 1.25rem 0 rgba(0, 0, 0, 0.5), 0 -0.25rem 1.5rem rgb(0, 0, 0) inset, 0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset, 0 0.25rem 0.5rem 0 rgb(104, 104, 104) inset;
}

.name {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

.distance {
  margin-left: 25px;
}

.datedisplay {
  padding-right: 35px;
}

.searchbar {
  max-width: 50%;
}

.indexmap {
  display: flex;
  justify-content: center;
}

.indextext {
  text-align: center;
  color: white;
}

.singlePage {
  margin-left: 50px;
  margin-top: 25px;
  color: white;
}

.imgDr {
  height: 400px;
  max-width: 60%;
  box-shadow: 7px 6px 2px rgba(0, 0, 0, 0.661);
}

.about-container {
  display: flex;
  flex-direction: row;
}

.event-description {
  display: flex;
  margin-left: 20px;
}

.deeets {
  margin-top: 20px;
  width: 50%;
  max-width: 50%;
  background-color: rgba(44, 44, 44, 0.6);
  box-shadow: 7px 6px 2px rgba(0, 0, 0, 0.661);
  height: 200px;
}

.info {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
}

.info2 {
  color: rgb(196, 0, 127);
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  text-decoration: underline;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.single-map {
  margin-top: 20px;
}

.dino {
  position: relative;
  margin-top: 10%;
  width: 50%;
  height: 277px;
  z-index: 999;
}

#error-page {
  height: 100vh;
}

.error-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-title {
  font-size: 60px;
}

.advert {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ad {
  position: relative;
  text-align: center;
}

.discount {
  width: 75%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
}

.discount-imaage {
  width: 100%;
}

.discount-text {
  color: white;
  width: 100%;
  text-align: center;
}

.sponsored {
  color: white;
}

.leaflet-container {
  height: 300px;
  width: 450px;
  align-self: center;
  margin-bottom: 25px;
  box-shadow: 7px 6px 2px rgba(0, 0, 0, 0.661);
}

.popUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cluster-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.mapbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

img.popUp-img {
  width: 120px;
}

.hometext {
  color: white;
  text-align: center;
  padding-left: 20px;
  margin-top: 50px;
}

.hometitle {
  text-align: center;
  padding-left: 20px;
  margin-top: 50px;
}

.w {
  margin: 0 auto;
  white-space: nowrap;
  max-width: 1200px;
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: rgba(66, 66, 66, 0.5) url("https://res.cloudinary.com/djgaevw62/image/upload/v1705438934/Cirque%20du%20Sore-Legs/60a9f5c2-947a-47d9-a1bc-d37454a4045c_lemaat.jpg") repeat fixed;
  background-size: cover;
  position: relative;
  z-index: 5;
  font-size: 0;
}

.i {
  width: 40px;
  height: 100%;
  display: inline-block;
  position: relative;
  z-index: 4;
  padding: 2px;
  transition: all 1.3s ease-in-out;
  background: rgba(66, 66, 66, 0.5) url("https://wallpapergod.com/images/hd/running-5491X3599-wallpaper-fstsrysdq98kj5j0.jpeg") repeat fixed;
  background-size: cover;
  border-radius: 0%;
}

.i:hover {
  transition: all 0s linear;
  opacity: 0;
}

.h {
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  top: 35px;
  font-size: 40px;
  color: rgb(245, 245, 220);
  text-shadow: 0 5px 17px rgba(87, 87, 80, 0.85);
}

.hero-container {
  padding-left: 20px;
}

.profile-container {
  padding-left: 20px;
}

.cookies-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Audiowide", sans-serif;
}

body {
  background: linear-gradient(120deg, #FF0000 0%, #2400FF 100%), linear-gradient(120deg, #FA00FF 0%, #208200 100%), linear-gradient(130deg, #00F0FF 0%, #000000 100%), radial-gradient(110% 140% at 15% 90%, #ffffff 0%, #1700A4 100%), radial-gradient(100% 100% at 50% 0%, #AD00FF 0%, #00FFE0 100%), radial-gradient(100% 100% at 50% 0%, #00FFE0 0%, #7300A9 80%), linear-gradient(30deg, #7ca304 0%, #2200AA 100%);
  background-blend-mode: overlay, color, overlay, difference, color-dodge, difference, normal;
  height: 100vh;
}

.content {
  margin-left: 16%;
  margin-right: 15%;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.spinner {
  display: block;
  margin: auto;
  margin-top: 300px;
  border-radius: 55%;
}

h5 {
  color: white;
}

.blog-tag {
  color: white;
}

.blog-container {
  padding-left: 20px;
}

.blog-pic {
  height: 300px;
}/*# sourceMappingURL=main.css.map */